@page "/"
<p>Use this application to created, edit, level, and manage game state for your Pathfinder 1e Character.</p>
<br />
<p>This app is built using Blazor SPA tech, and is based on the demo app in a Pluralsight course by Gill Cleeren.</p>

