body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

input, textarea {
    font-size: 18px;
    width: 200px;
}

    input[type=submit] {
        width: auto;
    }

label {
    font-size: 16px;
}

div {
    background-color: aliceblue;
}

#theForm {
    background-color: gray
}

#theForm input[type=submit] {
    background-color: green;
    color: white;
}

ul.characterDetails {
    font-size: small;
}

.characterDisplay {
    border: 1px solid grey;
    display: inline-block;
    padding: 8px 2px;
    margin: 2px;
    width: 450px;
}

.characterDisplay img {
    margin: 3px;
    float: left;
    max-height: 150px;
}

ul.characterDetails li {
    list-style-type: none;
}

#loginToggle {
    cursor: pointer;
}

.popupForm {
    padding: 5px;
    border: 2px black inset;
    display: inline-block;
}

    .popupForm input {
        width: 200px;
    }

    .popupForm label {
        width: 150px;
        display: inline-block;
    }

    .popupForm input[type=checkbox], .popupForm input[type=submit] {
        width: auto;
    }